*
!.config/
!.config/alacritty/
!.config/skhd/
!.config/yabai/
!.config/kitty/
!.config/alacritty
!.config/lazygit
!.config/karabiner
!.config/ghostty
!.config/alacritty/themes
!.zshrc
!.config/zed
!.config/zed/keymap.json
!.config/zed/settings.json
!.config/alacritty/*
!.config/alacritty/themes/*
!.config/skhd/skhdrc
!.config/yabai/yabairc
!.config/kitty/*
!.config/lazygit/*
!.config/karabiner/*
!.config/ghostty/*
!.gitignore
